@import "../../styles/theme";

.root {
  display: flex;
  background: $layer1;
  color: $text1;
  width: 100vw;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.links {
  display: flex;
  gap: 5px;
  padding: 20px;

  & > div > span {
    margin-left: 5px;
  }

  & > div > a {
    color: $text1;
    text-decoration: none;
    transition: 100ms;
    border-bottom: 1px solid transparent;

    &:hover {
      color: $text3;
      border-color: $text3;
    }
  }
}

.logo {
  font-size: 14px;
  margin: 0 20px;

  a {
    color: $text3;
    transition: 100ms;
    text-decoration: none;
    letter-spacing: 3px;

    &:hover {
      color: $text1;
    }
  }
}
