@import "../../styles/theme";

.root {
  display: flex;
  background: $layer1;
  color: $text1;
  width: 100vw;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.links {
  display: flex;
  gap: 5px;
  padding: 20px;

  @media (max-width: 900px) {
    display: none;
  }

  & > div > span {
    margin-left: 5px;
  }

  & > div {
    flex-direction: row;
    display: flex;
    align-items: center;
  }

  & > div > a {
    color: $text1;
    text-decoration: none;
    transition: 100ms;
    position: relative;
    align-items: center;
    height: 50px;
    display: flex;
    font-size: 12px;

    &:before {
      content: "";
      display: flex;
      position: absolute;
      width: 0%;
      height: 1px;
      left: 50%;
      transform: translate(-50%, 0);
      bottom: 10px;
      transition: 100ms;
    }

    &:hover {
      color: $text2;

      &:before {
        width: 80%;
        background: $accent2;
      }
    }
  }
}

.logo {
  font-size: 14px;
  margin: 0 20px;
  transition: 100ms;

  img {
    color: $text3;
    transition: 100ms;
    text-decoration: none;
    letter-spacing: 3px;

    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }
  }
}

.buttons {
  display: flex;
  flex-direction: row;
}

.mobileButtons {
  display: flex;
  pointer-events: none;
  width: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition: 100ms;
  
  button {
    transition: 100ms;
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    color: $text1;
    border-radius: 2px;
    font-size: 16px;

    &:hover {
      background: $dynamic2;
      color: $text2;
    }
  }

  @media (max-width: 900px) {
    width: 30px;
    height: 30px;
    pointer-events: all;
    margin-left: 5px;
  }
}

.accountButtons {
  display: flex;
  gap: 5px;
  flex-direction: row;

  @media (max-width: 900px) {
    display: none;
  }

  button {
    border: none;
    padding: 0 10px;
    height: 30px;
    border-radius: 2px;
    transition: 100ms;
    color: $text1;
    background: transparent;
    font-size: 12px;

    &:nth-child(2) {
      background: $accent2;
      color: $layer1;
    }

    &:hover {
      background: $dynamic2;
      color: $text2;
      cursor: pointer;

      &:nth-child(2) {
        background: $accent2;
        color: $layer1;
        opacity: 0.7;
      }
    }
  }
}

.sideBar {
  position: fixed;
  top: 50px;
  right: 0;
  background: $layer1;
  width: 300px;
  height: calc(100vh - 50px);
  transition: 100ms;
  border-left: 1px solid $dynamic2;
}

.sideBarClosed {
  transform: translate(10%, 0);
  opacity: 0;
}

.sideBarCover {
  display: flex;
  position: fixed;
  width: 100vw;
  height: calc(100vh - 50px);
  top: 50px;
  left: 0;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
}

.sideBarCoverClosed {
  opacity: 0;
  pointer-events: none;
}
