/**
 * This is a dark theme
 */

.body-content-main, #__next, .body {
    --layer1: #272727;
    --layer2: #202020;

    --dynamic1: rgba(255, 255, 255, 0.05);
    --dynamic2: rgba(255, 255, 255, 0.1);
    --dynamic3: rgba(255, 255, 255, 0.15);
    --dynamic4: rgba(255, 255, 255, 0.2);
    --dynamic5: rgba(255, 255, 255, 0.25);
    --dynamic6: rgba(255, 255, 255, 0.3);
    --dynamic7: rgba(255, 255, 255, 0.35);
    --dynamic8: rgba(255, 255, 255, 0.4);
    
    --dynamicR1: rgba(0, 0, 0, 0.05);
    --dynamicR2: rgba(0, 0, 0, 0.1);
    --dynamicR3: rgba(0, 0, 0, 0.15);
    --dynamicR4: rgba(0, 0, 0, 0.2);
    --dynamicR5: rgba(0, 0, 0, 0.25);
    --dynamicR6: rgba(0, 0, 0, 0.3);
    --dynamicR7: rgba(0, 0, 0, 0.35);
    --dynamicR8: rgba(0, 0, 0, 0.4);

    --text1: #999;
    --text2: #d1d1d1;
    --text3: #fff;

    --accent1: #999;
    --accent2: #fff;
    --shadow1: rgba(0, 0, 0, 50%);
    --shadow2: rgba(0, 0, 0, 100%);
}

/**
 * This is a light theme
 */

@media (prefers-color-scheme: light) {
    .body-content-main, #__next, .body {
        --layer1: #fff;
        --layer2: #f9f9f9;

        --dynamic1: rgba(0, 0, 0, 0.05);
        --dynamic2: rgba(0, 0, 0, 0.1);
        --dynamic3: rgba(0, 0, 0, 0.15);
        --dynamic4: rgba(0, 0, 0, 0.2);
        --dynamic5: rgba(0, 0, 0, 0.25);
        --dynamic6: rgba(0, 0, 0, 0.3);
        --dynamic7: rgba(0, 0, 0, 0.35);
        --dynamic8: rgba(0, 0, 0, 0.40);

        --dynamicR1: rgba(255, 255, 255, 0.05);
        --dynamicR2: rgba(255, 255, 255, 0.1);
        --dynamicR3: rgba(255, 255, 255, 0.15);
        --dynamicR4: rgba(255, 255, 255, 0.2);
        --dynamicR5: rgba(255, 255, 255, 0.25);
        --dynamicR6: rgba(255, 255, 255, 0.3);
        --dynamicR7: rgba(255, 255, 255, 0.35);
        --dynamicR8: rgba(255, 255, 255, 0.4);

        --text1: #505050;
        --text2: #252525;
        --text3: #000;

        --accent1: #505050;
        --accent2: #121212;
        --shadow1: rgba(0, 0, 0, 10%);
        --shadow2: rgba(0, 0, 0, 20%);
    }
}

$layer1: var(--layer1);
$layer2: var(--layer2);

$dynamic1: var(--dynamic1);
$dynamic2: var(--dynamic2);
$dynamic3: var(--dynamic3);
$dynamic4: var(--dynamic4);
$dynamic5: var(--dynamic5);
$dynamic6: var(--dynamic6);
$dynamic7: var(--dynamic7);
$dynamic8: var(--dynamic8);

$dynamicR1: var(--dynamicR1);
$dynamicR2: var(--dynamicR2);
$dynamicR3: var(--dynamicR3);
$dynamicR4: var(--dynamicR4);
$dynamicR5: var(--dynamicR5);
$dynamicR6: var(--dynamicR6);
$dynamicR7: var(--dynamicR7);
$dynamicR8: var(--dynamicR8);

$text1: var(--text1);
$text2: var(--text2);
$text3: var(--text3);

$accent1: var(--accent1);
$accent2: var(--accent2);
$shadow1: var(--shadow1);
$shadow2: var(--shadow2);
