/**
 * This is a dark theme
 */

$layer1: #121212;
$layer2: #1d1d1d;
$layer3: #2e2e2e;
$layer4: #3f3f3f;
$layer5: #505050;
$layer6: #616161;
$layer7: #717171;
$layer8: #828282;

$dynamic1: rgba(255, 255, 255, 0.05);
$dynamic2: rgba(255, 255, 255, 0.1);
$dynamic3: rgba(255, 255, 255, 0.15);
$dynamic4: rgba(255, 255, 255, 0.2);
$dynamic5: rgba(255, 255, 255, 0.25);
$dynamic6: rgba(255, 255, 255, 0.3);
$dynamic7: rgba(255, 255, 255, 0.35);
$dynamic8: rgba(255, 255, 255, 0.4);

$text1: #999;
$text2: #d1d1d1;
$text3: #fff;

$accent1: #999;
$accent2: #fff;

$shadow1: rgba(0, 0, 0, 0.1);
$shadow2: rgba(0, 0, 0, 0.2);